# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments
venv/
env/

# Ignore model files and encoders
*.pkl

# Ignore datasets
*.csv

# Ignore VS Code settings (optional)
.vscode/

# Ignore system files
.DS_Store
Thumbs.db
